# Directories
#
# Use <directory>/* to allow for future overrides
#------------------------------------------------------------------------------
 
**/node_modules/*
**/typings/*

# Files
#------------------------------------------------------------------------------
 
source/app/**/*.js
source/app/**/*.map

npm-debug.log
