# Directories
#
# Use <directory>/* to allow for future overrides
#------------------------------------------------------------------------------
 
**/node_modules/*
**/typings/*

# File
#------------------------------------------------------------------------------
 
app/**/*.js
app/**/*.map

npm-debug.log
